      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
              <a class="navbar-brand">Televendor</a>
          </div>
      </div>
      
      <div class="container">
        <div class="jumbotron text-center">
            
            <%= form_tag do %>
                <h1>Hello there!</h1>
                <p>This service will help you to accept payments from Telegram messenger users.</p>

            <div class="form-group">
            <div class="col-sm-10">
                <%# label_tag(:token, "API Token:") %>
                <% text_field_tag(:token, nil, placeholder: 'API Token') %>
            </div>
            </div>
            
            <div class="form-group">
            <div class="col-sm-10">
                <%# label_tag(:paytoken, "Payment Token:") %>
                <%= text_field_tag(:paytoken, nil, placeholder: 'Payment Token') %>
            </div>
            </div>
            
                <%= submit_tag("Confirm"), :class => "btn btn-success" %>
            
            <% end %>
        </div>
      </div>
      
      <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
          <div class="container">
              <div class="navbar-text pull-left">
                <p>© Telepaybot 2017</p>
              </div>
          </div>
          <div class="navbar-text pull-right">
              <a href='#'><i class="fa fa-telegram fa-spin fa-3x fa-fw"></i></a>
          </div>
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>